In [1]:
import json

import pandas as pd

In [2]:
df = pd.read_csv('AmazonProducts.csv')
df.head()

                   Name  Price
0  Interactive Data Viz  39.71
1    Bluetooth Ear Tips   9.99
2  Pop up Greeting card   7.99
3        Laundry Hamper  14.26
4             Shoelaces   7.00

In [3]:
records = df.to_dict('records')

In [4]:
records

[{'Name': 'Interactive Data Viz', 'Price': 39.71},
 {'Name': 'Bluetooth Ear Tips', 'Price': 9.99},
 {'Name': 'Pop up Greeting card', 'Price': 7.99},
 {'Name': 'Laundry Hamper', 'Price': 14.26},
 {'Name': 'Shoelaces', 'Price': 7.0},
 {'Name': 'Kitchen Trash Bags', 'Price': 5.24},
 {'Name': 'Melatonin', 'Price': 8.35},
 {'Name': 'Pixel 2 headphone adapter', 'Price': 19.99},
 {'Name': 'Replacement laptop keyboard', 'Price': 56.05},
 {'Name': '4.4 lbs brown rice', 'Price': 34.82},
 {'Name': 'Dishwasher tablets', 'Price': 10.39},
 {'Name': 'Ethernet cable', 'Price': 7.49},
 {'Name': 'Dog poop bags', 'Price': 15.95},
 {'Name': 'Sensodyne toothpaste', 'Price': 14.76},
 {'Name': 'Deodorant 4 pk', 'Price': 16.38},
 {'Name': 'Garage door opener', 'Price': 24.5},
 {'Name': 'Massage Lacross Balls', 'Price': 9.99},
 {'Name': "Levi's 541 Athletic fit jeans", 'Price': 54.99},
 {'Name': 'PopSockets Collapsible Grip & stand for phone', 'Price': 9.89},
 {'Name': 'Mastering PyCharm', 'Price': 35.99},
 {'Name': 'SQL Cookbook', 'Price': 33.29},
 {'Name': 'Angler broom & dust pan', 'Price': 19.99},
 {'Name': 'LED 40 Watt light bulbs', 'Price': 16.99}]

In [18]:
with open('Amazon.json', 'w') as f:
    json.dump(records, f)