In [1]:
import json

import pandas as pd

In [2]:
df = pd.read_csv('AmazonProducts.csv')
df.head()

                            Name  Price  Category  CategorySorted
0           Interactive Data Viz  39.71     Books               1
1              Mastering PyCharm  35.99     Books               2
2                   SQL Cookbook  33.29     Books               3
3           Pop up Greeting card   7.99     Books               4
4  Levi's 541 Athletic fit jeans  54.99  Clothing               5

In [3]:
records = df.to_dict('records')

In [4]:
records

[{'Category': 'Books',
  'CategorySorted': 1,
  'Name': 'Interactive Data Viz',
  'Price': 39.71},
 {'Category': 'Books',
  'CategorySorted': 2,
  'Name': 'Mastering PyCharm',
  'Price': 35.99},
 {'Category': 'Books',
  'CategorySorted': 3,
  'Name': 'SQL Cookbook',
  'Price': 33.29},
 {'Category': 'Books',
  'CategorySorted': 4,
  'Name': 'Pop up Greeting card',
  'Price': 7.99},
 {'Category': 'Clothing',
  'CategorySorted': 5,
  'Name': "Levi's 541 Athletic fit jeans",
  'Price': 54.99},
 {'Category': 'Electronics',
  'CategorySorted': 6,
  'Name': 'Replacement laptop keyboard',
  'Price': 56.05},
 {'Category': 'Electronics',
  'CategorySorted': 7,
  'Name': 'Pixel 2 headphone adapter',
  'Price': 19.99},
 {'Category': 'Electronics',
  'CategorySorted': 8,
  'Name': 'Bluetooth Ear Tips',
  'Price': 9.99},
 {'Category': 'Electronics',
  'CategorySorted': 9,
  'Name': 'PopSockets Collapsible Grip & stand for phone',
  'Price': 9.89},
 {'Category': 'Food',
  'CategorySorted': 10,
  'Name': '4.4 lbs brown rice',
  'Price': 34.82},
 {'Category': 'Food',
  'CategorySorted': 11,
  'Name': 'Melatonin',
  'Price': 8.35},
 {'Category': 'House Items',
  'CategorySorted': 12,
  'Name': 'Garage door opener',
  'Price': 24.5},
 {'Category': 'House Items',
  'CategorySorted': 13,
  'Name': 'Angler broom & dust pan',
  'Price': 19.99},
 {'Category': 'House Items',
  'CategorySorted': 14,
  'Name': 'LED 40 Watt light bulbs',
  'Price': 16.99},
 {'Category': 'House Items',
  'CategorySorted': 15,
  'Name': 'Deodorant 4 pk',
  'Price': 16.38},
 {'Category': 'House Items',
  'CategorySorted': 16,
  'Name': 'Dog poop bags',
  'Price': 15.95},
 {'Category': 'House Items',
  'CategorySorted': 17,
  'Name': 'Sensodyne toothpaste',
  'Price': 14.76},
 {'Category': 'House Items',
  'CategorySorted': 18,
  'Name': 'Laundry Hamper',
  'Price': 14.26},
 {'Category': 'House Items',
  'CategorySorted': 19,
  'Name': 'Dishwasher tablets',
  'Price': 10.39},
 {'Category': 'House Items',
  'CategorySorted': 20,
  'Name': 'Massage Lacross Balls',
  'Price': 9.99},
 {'Category': 'House Items',
  'CategorySorted': 21,
  'Name': 'Ethernet cable',
  'Price': 7.49},
 {'Category': 'House Items',
  'CategorySorted': 22,
  'Name': 'Shoelaces',
  'Price': 7.0},
 {'Category': 'House Items',
  'CategorySorted': 23,
  'Name': 'Kitchen Trash Bags',
  'Price': 5.24}]

In [5]:
with open('Amazon.json', 'w') as f:
    json.dump(records, f)